html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  gap:20px
}

.table-wrapper {
  width: 400px;
  /* border: 1px solid gray; */
  border-radius: 4px;
}

.table-row-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid gray;
}
.table-row-wrapper:not(:last-child) {
  border-bottom: none;
}
.table-row-wrapper > .item {
  padding: 6px 12px;
  border-right: 1px solid gray;
}
.table-row-wrapper > .item:last-child {
  border-right: none;
}


.button-wrapper{
  font-size: 1rem;
  padding: 8px 20px;
  background-color:#007bff;
  bordeR:none;
  border-radius: 5px;
  color:white;

  cursor: pointer;
}
.button-wrapper:hover{
  background-color: #0069d9;
}


.modal-wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-backdrop{
  background-color: rgba(100, 100, 100, 0.4);
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.modal-content{
  background-color: white;
  z-index: 2;
  padding: 25px 45px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap:25px;
  align-items: center;
}
.modal-content > div {
  display: flex;
  gap:20px;
}
.modal-close{
  position: absolute;
  top:15px;
  right:15px;
  cursor: pointer;
}

.input-field{
  padding: 8px 6px;
  border-radius: 4px;
  border: 1px solid lightgray;
}
.input-field:hover{
  border: 1px solid gray;
}.input-field:focus{
  outline: none;
  border: 1px solid #007bff;
}